/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Zeyada', cursive; */
:root {
  --hero-background-color: #f9f7fe;
  --btn-color: #6c63ff;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

body {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
  color: black;
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 36px;
  color: 272142;
}
.hero p {
  font-family: var(--default-font);
  font-size: 24px;
  color: 272142;
}
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding: 160px 20px;
}
.about {
  padding: 160px 20px;
}
.btn-brand {
  background-color: var(--btn-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-brand:hover {
  background-color: var(--btn-color);
  color: #212543;
}
.btn-project {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-project:hover {
  color: #212543;
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.projct-title {
  font-family: var(--heading-font);
  font-size: 64px;
}
.project-detail {
  font-size: 16px;
  line-height: 30px;
}

.title-about {
  font-size: 64px;
}
.My-pic {
  width: ;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
.text-center {
  font-size: 24px;
}
.work-desc {
  font-size: 14px;
}
.Shecodes-logo {
  max-height: 150px;
}

nav li {
  list-style: none;
  display: inline;
  line-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  font-weight: 500;
  font-size: 16px;
}
nav a:hover {
  color: var(--btn-color);
  transition: all 200ms ease-in-out;
}
.active a {
  color: var(--btn-color);
}
.footer {
  font-size: 48px;
}
.footer-box {
  background-color: var(--hero-background-color);
  text-align: center;
  border-radius: 10px;
}
.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer a:hover {
  color: var(--btn-color);
}
.icons a {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 20px;
  color: var(--btn-color);
  background-color: var(--hero-background-color);
  height: 50px;
  width: 50px;
}
.icons a:hover {
  color: var(--hero-background-color);
  background-color: var(--btn-color);
}

@media (max-width: 960px) {
  h1,
  .title-about {
    font-size: 44px;
  }
  .projct-title {
    font-size: 50px;
  }
  body {
    text-align: center;
  }
  .hero,
  .about {
    padding: 80px 20px;
    line-height: 2;
  }
}
